<a href="https://colab.research.google.com/github/ChristianahDamola/Hamoyeproject/blob/main/HamoyeQUIZ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/master/README.md")

In [ ]:
df.head()
df.info()
print(type(df))

In [ ]:
url = 'https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'
dataf = pd.read_csv(url,encoding= 'unicode escape')

In [ ]:
dataf.head()

In [ ]:
#sum of animal fat in 2014 and 2017#
animalproduct = dataf.groupby('Item')['Y2014'].sum()
print(animalproduct)
#2017
animalproduct2 = dataf.groupby('Item')['Y2017'].sum()
print(animalproduct2)

In [ ]:
#total number of missing value in 2016
dataf.isnull().sum()

In [ ]:
#total import quantity in Algeria 2018
importquantity = dataf.groupby(['Element','Area','Unit'])['Y2018'].sum()
print (importquantity)

In [ ]:
#total number of unique countries in the dataset
unique = dataf['Area'].unique()
print(unique)
print(len(unique))

In [ ]:
#element with 3rd lowest sum in 2018
MIN2018 = dataf.groupby('Element')['Y2018'].min()
print(MIN2018)

In [48]:
#element with the highest sum in 2018
Max2018 = dataf.groupby('Element')['Y2018'].max()

In [51]:
#mean and standard devaiation across 2015
Agg2015 = dataf.groupby('Y2015')['Y2015'].agg(['mean','std'])